@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #9db26e;
  user-select: none;
}
.hide {
  display: none;
}
/* overlay */
#overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  width: 90vmin;
  height: 98vmin;
}

#gameBoard {
  display: grid;
  height: 80vmin;
  width: 80vmin;
  background-image: url(./img/bg.png);
  background-size: contain;
  border: 5vmin solid green;
  grid-template-columns: repeat(21, 1fr);
  grid-template-rows: repeat(21, 1fr);
}

.head {
  background-color: blueviolet;
  position: relative;
  z-index: 1;
  border: 0.25vmin solid black;
}
.snake {
  background-color: rgb(153, 87, 215);
  border: 0.25vmin solid black;
}
.food {
  background-image: url(./img/food.png);
  background-size: contain;
}
#score {
  font-size: 3vmin;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 8vmin;
}
#highScore {
  font-size: 3vmin;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 8vmin;
}
#boxHolder {
  display: flex;
  width: 80vmin;
  gap: 10vmin;
  margin-bottom: 10px;
}
#card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  background-color: antiquewhite;
  width: 40vmin;
  height: 60vmin;
  z-index: 2;
  border-radius: 10px;
}
#card h2 {
  font-size: 3.5vmin;
  font-family: "Kaushan Script", cursive;
  background: linear-gradient(to right, #21f39f, #94ff08, #9bcf23, #90ee44);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
#card h3 {
  font-size: 1.5vmin;
  font-family: "Press Start 2P", cursive;
}
#cardScore {
  display: flex;
  height: 20vmin;
  gap: 30px;
}
#Afterscore,
#AfterhighScore {
  font-size: 3vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#levelSelector {
  font-size: 1.5vmin;
  font-family: "Press Start 2P", cursive;
}
#btn {
  background-color: rgb(20, 90, 255);
  border: 0 none;
  color: white;
  width: 20vmin;
  height: 8vmin;
  border-radius: 10px;
  margin-top: 30px;
  cursor: pointer;
}

/* btn for mobile */

.btn4mobile {
  transform: rotate(45deg);
  width: 35vmin;
  height: 35vmin;
  margin-top: 50px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.btn4mobile button {
  border: 0px none;
  background-color: transparent;
}

@media only screen and (orientation: portrait) {
  #overlay {
    width: 100vw;
    height: 100vh;
    z-index: 1;
  }
  #card {
    width: 60vmin;
    height: 80vmin;
  }
  .btn4mobile {
    display: grid;
  }
}
