*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    background-color: #051124;
}
.main{
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box{
    margin-top: 50px;
     width: 500px;
    height: 500px;
    margin: auto;
    border-radius: 10px;
    border: 20px solid #576CBC;
    background-color: #19376D;
}
#btn{
    font-size: 2rem;
    cursor: pointer;
    padding: 0.5rem 2rem;
    border: 3px solid #0B2447;
    border-radius: 10px;
    margin-top: 30px;
    font-weight: bold;
    color: #171717;
    background-color: #A5D7E8;
}
#btn:active{
    background-color: red;
}
.slider {
    visibility: hidden;
    height: 20px;
    width: 200px;
    background-color: #A5D7E8;
    position: relative;
    border: 2px solid #0B2447;
    border-radius: 10px;
    box-sizing: border-box; 
}
#slider1{
    visibility: visible;
}
.animate{
    animation: slide 4s infinite linear;
}
@keyframes slide {
    0%{
        left: 0px;
    }
    50%{
        left: 300px;
    }
    100%{
        left: 0px;
    }
    
}